body {
    display: flex;
    background-color: black;
    font: normal 15pt arial;
    color: white;
    justify-content: center;

}

img#logowt {
    width: 140px;
}

div#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

a#btnpage2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 180px;
    height: 70px;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    font-size: 0.7em;
    
}

a#btnpage2:hover {
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
}

div#disclaimer {
    margin-top: 20px;
    color: grey;
    display: flex;
    width: 230px;
    /*border: 1px solid grey;*/
    border-radius: 20px;
    font-size: x-small;
    text-align: center;
}

img#imgdisc {
    width: 60px;
    opacity: 0.5;
}

a#btnback {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.658);
    width: 270px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 0.5px;
    margin-top: 20px;
}

p#choice {
    font: normal 30pt arial;
    letter-spacing: 5px;

}

