body {
    display: flex;
    background-color: black;
    font: normal 15pt arial;
    color: white;
    justify-content: center;

}

div#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

p#choice {
    font: normal 30pt arial;
    letter-spacing: 5px;
    margin-left: -40px;
}

a#btnpage3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 270px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 1px;
}

a#btnpage3:hover {
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
}

a#btnback {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.658);
    width: 270px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 0.5px;
}
a#btntest {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 270px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 1px;
    cursor: pointer;

}

a#btntest:hover {
    background-color: #0193e6;
    color: black;
    border: 1px solid #0193e6;
}


