body {
    display: flex;
    background-color: black;
    font: normal 15pt arial;
    color: white;
    justify-content: center;

}

div#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

div#res {
    background-color: white;
    color: black;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}


img#logobxt {
    margin-top: 30px;
    width: 100px;
    align-items: center;
}

img#logowt {

    width: 50px;
}

p#tw{
    margin-top: 30px;
    text-align: center;
    letter-spacing: 8px;
}

a#btnback {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: rgba(128, 128, 128, 0.308);
    width: 270px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 0.5px;
}

a#btnpage3 {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 270px;
    height: 50px;
    border: 1px solid white;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 1px;
}

a#btnpage3:hover {
    background-color: greenyellow;
    color: black;
    border: 1px solid greenyellow;
}
