body {
    display: flex;
    background-color: black;
    font: normal 15pt arial;
    color: white;
    justify-content: center;

}

div#content {
    align-items: center;
    display: flex;
    flex-direction: column;
}

p#level {
    font: normal 30pt arial;
    letter-spacing: 5px;
    margin-left: -80px;
}

a#btnback {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    background-color: rgba(255, 255, 255, 0.658);
    width: 270px;
    height: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: medium;
    letter-spacing: 0.5px;
}

img {
    height: 190px;
    padding: 26px;
}

div#disclaimer {
    justify-content: center;
    text-align: center;
    margin-top: -10px;
    color: rgba(255, 255, 255, 0.781);
    display: flex;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    font-size: 0.6em;
}

div#def {
    margin-top: 15px;
    display: flex;
    font-size: small;
    line-height: 53px;
    color: rgba(255, 255, 255, 0.76);
}

p#nivel {
    text-align: right;
}





